mat-card {
    max-width: 400px;
    margin: 10em auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .full-width-input {
    width: 100%;
  }

  .login-container {
    background: url(https://i.imgur.com/73BxBuI.png);
    background-size: cover;
    background-position: center;
    padding: 60px 1rem;
    min-height: 700px;
    -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}

.header-image {
    background-image: url(https://gravatar.com/avatar/b5ad39eb92e35b4ffcfc76da79b2c99f?s=400&d=wavatar&r=x);
    background-size: cover;
}


