<mat-toolbar color="primary">
    <button mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    
    <span>Questionnaire</span>
    <span class="spacer"></span>

    <button mat-button routerLink="login" class="login-button">Login</button>
      <!-- <button mat-button (click)="navigate('home')">Home</button>
      <button (click)="navigate('login')">Login</button> -->

<!--     
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button> -->

    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<!-- main app container -->

<div>
    <router-outlet></router-outlet>
</div>
