<div><p class="title">{{questionnaire.title}}</p></div>

<div *ngIf="questionnaire.timeLimitOfMinuteUnit > 0">
    <app-count-down [seconds]="questionnaire.timeLimitOfMinuteUnit * 60" (update)="handleUpdate($event)"></app-count-down>
</div>

<form>
  <mat-stepper #stepper>
   
        <mat-step *ngFor="let questionInfo of questionnaire.questionInfo; let i = index" >

            <ng-template matStepLabel>{{i+1}}) {{questionInfo.title}} ?</ng-template>
            <mat-selection-list> 
                <mat-list-option *ngFor="let questionAnswer of questionInfo.questionAnswerInfo;"  (selectedChange)="addAnswer($event,questionInfo.questionId,questionAnswer.questionAnswerId)"   [value]="questionAnswer.questionAnswerId">
                <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
                {{questionAnswer.answer}}
                </mat-list-option>
            </mat-selection-list>

            <div>
                <button mat-button *ngIf="questionInfo.sequence > 1" matStepperPrevious>Back</button>
                <button mat-button *ngIf="questionInfo.sequence != questionnaire.totalQuestion"matStepperNext>Next</button>
                <button mat-button (click)="onSubmit()" *ngIf="questionInfo.sequence == questionnaire.totalQuestion"type="button">Submit</button>
            </div>  
        </mat-step>
 
  
  </mat-stepper> 

</form>