<mat-toolbar color="primary">
    <button mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    
    <span *ngIf="!isDebug" >IsDebug : {{ !isDebug }}</span>
    <span class="spacer"></span>

    <button mat-button routerLink="login" *ngIf="!authService.isLoggedIn" class="x-button">Login</button>
  
    <div *ngIf="authService.isLoggedIn">{{ authService.currentuserName }}</div>
    <button mat-icon-button (click)="onLogout()" *ngIf="authService.isLoggedIn">
      <mat-icon>logout</mat-icon>
    </button>
     
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<!-- main app container -->

<div class="app-container">
    <router-outlet></router-outlet>
</div>
